/* Góra */
.app-header, #app-menu, #plugcubed, #history-button, #rs-skip-button {
    background: rgba(0, 0, 0, 0.50);
}
.header-panel-button.selected {
    background-color: rgba(34, 34, 34, 0.5);
}
/* Dół */
#footer {
    background: rgba(0, 0, 0, 0.50);
}
#playlist-button {
    background: linear-gradient(to bottom,rgba(172, 118, 255, 0.7) 0,rgba(146, 90, 255, 0.7) 100%);
}
/* Przycisk od kolejki */
#dj-button {
    background: rgba(0, 0, 0, 0.75);
}
#dj-button .left {
    background: linear-gradient(to bottom,rgba(2, 106, 134, 0.5) 0,rgba(20, 17, 35, 0.5) 100%);
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
    background: linear-gradient(to bottom,rgba(255, 61, 0, 0.5) 0,rgba(177, 29, 0, 0.5) 100%);
}
#dj-button.is-full .left, #dj-button.is-locked .left {
    background: rgba(255, 0, 0, 0.35);
}
/* Woot, Grab, Meh */
#grab .top span, #woot .top span, #meh .top span {
    display: none !important;
}
#woot .top:after {
    content: "KAWAI";
    position: relative;
    display: inline-block;
    top: -6px;
}
#grab .top:after {
    content: "DAWAJ";
    position: relative;
    display: inline-block;
    top: -6px;
}
#meh .top:after {
    content: "SŁABE";
    position: relative;
    display: inline-block;
    top: -6px;
}
/* Poprawki i usprawnienia */
#chat-messages .from.plot.has-sub .icon.icon-chat-plot, #chat-messages .from.promoter.has-sub .icon.icon-chat-promoter, #chat-messages .from.sitemod.has-sub .icon.icon-chat-sitemod {
    margin-right: 3px !important;
}

.icon {
    background-image: url('https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/icons.png');
}
/*- gяєєиα -*/
.id-10607990>.badge-box>i.bdg, #chat-messages .fromID-10607990 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/grina.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-10607990 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/grina.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*- gяєєиα - | Mobile*/
.id-30563279>.badge-box>i.bdg, #chat-messages .fromID-30563279 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/grina_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-30563279 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/grina_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*Mystic*/
.id-28366137>.badge-box>i.bdg, #chat-messages .fromID-28366137 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/mysticc.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-28366137 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/mysticc.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*Amoniak*/
.id-10542387>.badge-box>i.bdg, #chat-messages .fromID-10542387 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/nep.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-10542387 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/nep.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*Pandorianim*/
.id-31730421>.badge-box>i.bdg, #chat-messages .fromID-31730421 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/panda.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-31730421 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/panda.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*ZielonyLis*/
.id-5933599>.badge-box>i.bdg, #chat-messages .fromID-5933599 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/zielony.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-5933599 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/zielony.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*JustMonika*/
.id-32804894>.badge-box>i.bdg,
#chat-messages .fromID-32804894 .bdg {
    background-image: url("https://i.imgur.com/Z5A4WFI.gif");	
    background-size: cover;	
    background-repeat: no-repeat;	
    background-position: top;	
}	
	
#user-rollover.id-32804894 .badge-box>i.bdg {	
    border-radius: 6px;	
    background-image: url("https://i.imgur.com/Z5A4WFI.gif");	
    background-size: cover;	
    background-repeat: no-repeat;	
    background-position: top;	
}
/*XothX*/
.id-31300959>.badge-box>i.bdg, #chat-messages .fromID-31300959 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/xoth.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-31300959 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/xoth.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*Marihuana*/
.id-28209493>.badge-box>i.bdg, #chat-messages .fromID-28209493 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/marihuana.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-28209493 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/marihuana.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*Sexy Alien*/
.id-14238836>.badge-box>i.bdg, #chat-messages .fromID-14238836 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/sexy_alien.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-14238836 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/sexy_alien.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*Hundjäger*/
.id-14592706>.badge-box>i.bdg, #chat-messages .fromID-14592706 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/hundjager.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-14592706 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/hundjager.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Mikєy */
[data-cid^="6425281-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-6425281 .icon-chat-subscriber, #user-rollover.id-6425281 .meta.subscriber .status i {
    background: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/ranks/mike_sub.png") !important;
    background-repeat: no-repeat !important;
}
#user-rollover.id-6425281 .meta.subscriber .status span {
    color: #e74c3c !important;
}
#user-rollover.id-6425281 .subscriber .thumb {
    border-color: #e74c3c !important;
}
/* - gяєєиα -*/
[data-cid^="10607990-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-10607990 .icon-chat-subscriber, #user-rollover.id-10607990 .meta.subscriber .status i {
    background: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/ranks/grina_sub.png") !important;
    background-repeat: no-repeat !important;
}
[data-cid^="10607990-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-10607990 .icon-chat-manager, #user-rollover.id-10607990 .info .role i.icon-chat-manager {
    background: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/ranks/grina_manager.png") !important;
    background-repeat: no-repeat !important;
}
[data-cid^="10607990-"] .msg .from .icon-chat-promoter, #user-lists .list.room .id-10607990 .icon-chat-promoter, #user-rollover.id-10607990 .info .role i.icon-chat-promoter {
    background: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/ranks/grina_promotor.png") !important;
    background-repeat: no-repeat !important;
}
[data-cid^="10607990-"] .msg .from .icon-chat-promoter + span, #user-lists .list.room .id-10607990 .icon-chat-promoter + span, #user-rollover.id-10607990 .info .role i.icon-chat-promoter + span, [data-cid^="10607990-"] .msg .from .icon-chat-manager + span, #user-lists .list.room .id-10607990 .icon-chat-manager + span, #user-rollover.id-10607990 .info .role i.icon-chat-manager + span {
    color: #7DFF7C !important;
}
#chat [data-cid^="10607990-"] span.un.clickable,
#user-lists .list.room .id-10607990 .name, #user-lists .list.room .is-staff.id-10607990 .name, #user-lists .list.room .is-dj.id-10607990 .name, #user-lists .list.room .is-subscriber.id-10607990 .name, #user-lists .list.room [class*='role'].id-10607990 .name, #chat .msg .text .id-10607990, #chat .msg .text .name.id-10607990, #chat .msg .text .name.id-10607990 .name, #user-rollover.id-10607990 .username, #user-rollover.id-10607990 .meta.subscriber .status span, #user-rollover.id-10607990.is-staff .info .role span {
    color: #7DFF7C !important;
}
#user-rollover.id-10607990 .subscriber .thumb, #user-rollover.id-10607990.is-staff .thumb {
    border-color: #7DFF7C !important;
}
.fromID-10607990 .from .un.clickable:before, .id-10607990 > .msg > .from:before {
    content: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/heart.png") !important;
    float: left;
    margin: 0px 3px 0px 3px;
}

/* MysticJump */
[data-cid^="28366137-"] .msg .from .icon-chat-promoter + span, #user-lists .list.room .id-28366137 .icon-chat-promoter + span, #user-rollover.id-28366137 .info .role i.icon-chat-promoter + span, [data-cid^="28366137-"] .msg .from .icon-chat-manager + span, #user-lists .list.room .id-28366137 .icon-chat-manager + span, #user-rollover.id-28366137 .info .role i.icon-chat-manager + span {
    color: #e64c3b !important;
}
#chat [data-cid^="28366137-"] span.un.clickable,
#user-lists .list.room .id-28366137 .name, #user-lists .list.room .is-staff.id-28366137 .name, #user-lists .list.room .is-dj.id-28366137 .name, #user-lists .list.room .is-subscriber.id-28366137 .name, #user-lists .list.room [class*='role'].id-28366137 .name, #chat .msg .text .id-28366137, #chat .msg .text .name.id-28366137, #chat .msg .text .name.id-28366137 .name, #user-rollover.id-28366137 .username, #user-rollover.id-28366137 .meta.subscriber .status span, #user-rollover.id-28366137.is-staff .info .role span {
    color: #e64c3b !important;
}
[data-cid^="28366137-"] .msg .from .icon-chat-promoter, #user-lists .list.room .id-28366137 .icon-chat-promoter, #user-rollover.id-28366137 .info .role i.icon-chat-promoter {
    background: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/ranks/mystic_promotor.png") !important;
    background-repeat: no-repeat !important;
}
/*Mono*/
.id-30882262>.badge-box>i.bdg, #chat-messages .fromID-30882262 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/mono.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-30882262 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/mono.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*Towarzysz*/
.id-32519556>.badge-box>i.bdg, #chat-messages .fromID-32519556 .bdg {
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/towar.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-32519556 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/Gameplayer8850/Jak-mozna-nie-lubic-anime-/master/img/badges/towar.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
