#onesignal-bell-container {
    display: none;
}
/* Góra */
.app-header,
#app-menu,
#plugcubed,
#history-button {
    background: rgba(0, 0, 0, 0.50);
}
.header-panel-button.selected {
    background-color: rgba(34, 34, 34, 0.5);
}

/* Dół */
#footer {
    background: rgba(0, 0, 0, 0.50);
}
#playlist-button {
    background: linear-gradient(to bottom,rgba(172, 118, 255, 0.7) 0,rgba(146, 90, 255, 0.7) 100%);
}

/* Przycisk od kolejki */
#dj-button {
    background: rgba(0, 0, 0, 0.75);
}
#dj-button .left {
    background: linear-gradient(to bottom,rgba(2, 106, 134, 0.5) 0,rgba(20, 17, 35, 0.5) 100%);
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
    background: linear-gradient(to bottom,rgba(255, 61, 0, 0.5) 0,rgba(177, 29, 0, 0.5) 100%);
}
#dj-button.is-full .left, #dj-button.is-locked .left {
    background: rgba(255, 0, 0, 0.35);
}
/* Woot, Grab, Meh */
#grab .top span,
#woot .top span,
#meh .top span {
    display: none !important;
}
#woot .top:after {
    content: "KAWAI";
    position: relative;
    display: inline-block;
    top: -6px;
}
#grab .top:after {
    content: "DAWAJ";
    position: relative;
    display: inline-block;
    top: -6px;
}
#meh .top:after {
    content: "SŁABE";
    position: relative;
    display: inline-block;
    top: -6px;
}   

/* Poprawki i usprawnienia */
.social-menu .signup,
#app-menu .android-badge,
#app-menu .iphone-badge {
    display: none; /*ukrycie zbugowanych/brzydkich przycisków*/
}

/*Marihuana*/
.id-28209493>.badge-box>i.bdg,
#chat-messages .fromID-28209493 .bdg {
    background-image: url("http://i144.photobucket.com/albums/r173/manuelito_05/th_marihuana.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-28209493 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("http://i144.photobucket.com/albums/r173/manuelito_05/th_marihuana.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*nevermore*/
.id-8920721>.badge-box>i.bdg,
#chat-messages .fromID-8920721 .bdg {
    background-image: url("https://vgy.me/sWDRev.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-8920721 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/sWDRev.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Kreskahe*/
.id-16354252>.badge-box>i.bdg,
#chat-messages .fromID-16354252 .bdg {
    background-image: url("https://i.imgur.com/Pthht6H.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-16354252 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/Pthht6H.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*M.O.N.O*/
.id-30882262>.badge-box>i.bdg,
#chat-messages .fromID-30882262 .bdg {
    background-image: url("http://pa1.narvii.com/6517/b84f19721342c3c5c66b81cb2b9cb28151bb8f6e_hq.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-30882262 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("http://pa1.narvii.com/6517/b84f19721342c3c5c66b81cb2b9cb28151bb8f6e_hq.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*LolPlayGames*/
.id-30987783>.badge-box>i.bdg,
#chat-messages .fromID-30987783 .bdg {
    background-image: url("https://i.imgur.com/3WJVtqp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-30987783 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/3WJVtqp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Grina*/
.id-10607990>.badge-box>i.bdg,
#chat-messages .fromID-10607990 .bdg {
    background-image: url("https://i.imgur.com/0AcqUqB.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-10607990 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/0AcqUqB.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Mystic*/
.id-28366137>.badge-box>i.bdg,
#chat-messages .fromID-28366137 .bdg {
    background-image: url("https://i.imgur.com/niZThij.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-28366137 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/niZThij.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*-linea*/
.id-30989262>.badge-box>i.bdg,
#chat-messages .fromID-30989262 .bdg {
    background-image: url("https://i.imgur.com/NzrWdMg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-30989262 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/NzrWdMg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*DeerAono*/
.id-31050836>.badge-box>i.bdg,
#chat-messages .fromID-31050836 .bdg {
    background-image: url("https://i.imgur.com/pc4cjMC.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-31050836 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/pc4cjMC.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Stydiaa*/
.id-30563279>.badge-box>i.bdg,
#chat-messages .fromID-30563279 .bdg {
    background-image: url("https://i.imgur.com/sNksZjh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-30563279 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/sNksZjh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Stydiaa*/
.id-30298142>.badge-box>i.bdg,
#chat-messages .fromID-30298142 .bdg {
    background-image: url("http://static.ilewazy.pl/wp-content/uploads/chleb-graham-kromka-30g.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-30298142 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("http://static.ilewazy.pl/wp-content/uploads/chleb-graham-kromka-30g.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Kuroaksan*/
.id-31015015>.badge-box>i.bdg,
#chat-messages .fromID-31015015 .bdg {
    background-image: url("https://i.imgur.com/5gXLvC1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-31015015 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/5gXLvC1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*XothX*/
.id-31300959>.badge-box>i.bdg,
#chat-messages .fromID-31300959 .bdg {
    background-image: url("https://i.imgur.com/sLaFAzD.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-31300959 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/sLaFAzD.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
